<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MY APP</title>
</head>

<body>
    Best movie quotes!
    <ul class="quotes">
        <% for(var i=0; i<quotes.length; i++) {%>
            <li class="quote">
                <span><%= quotes[i].name %></span>
                <span><%= quotes[i].quote %></span>
            </li>
            <% } %>
    </ul>
    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
    </form>
    <div>
        <h2>What's your current mood?</h2>
        <button id="update">Update my mood</button>
    </div>
    <script src="/public/main.js"></script>
</body>
</html